<div id="flash_container_habbit_type">
	<div id="flash_message_habbit_type">
	  <% if flash[:notice] %>
	      <p class="notice hide"><%= flash[:notice] %></p>
	    <% end %>
	  <% if flash[:error] %>
	      <p class="error hide"><%= flash[:error] %></p>
	  <% end %>
	  <% if flash[:alert] %>
	      <p class="alert hide"><%= flash[:alert] %></p>
	  <% end %>
	</div>
</div>


<ul><% @habits.each do |habit| %>
    <li></li>
		  <% if @current_user_id.to_s == habit.user_id.to_s %>
			  <%= form_for(:habit, :url => {:action => 'destroy', :id => habit.id}, remote: true) do |f| -%>		    
			    <div class="text-button">
			      <%= submit_tag("(delete)") %>
			    </div>
			  <% end %>
			<% end %>	
			<li class="chosen_<%= "yes" if @habit_types.exists? %>">
		  <%= form_for(:habit_type, :url => {:action => 'add', :id => habit.id}, remote: true) do -%>		    
		    <div class="text-button chosen<%= "_yes" if @habit_types.exists?(:habit_id => habit.id) %>">
		      <%= submit_tag(habit.name) %>
		    </div>
		  <% end %>
  <% end %>
</ul>
