<%= f.label 'start day: ', :class => "select_day" %>
<%= f.text_field :start_day, :readonly => true %>

<%= f.label 'end day: ', :class => "select_day" %>
<%= f.text_field :end_day, :readonly => true %>

<div><%= submit_tag "refresh", :id => "chart_refresh" %></div>
