<!DOCTYPE html>
<html>
<head>
  <title>appitrak</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag 'iphone' if mobile_device_iphone? %>
  <%= javascript_include_tag "bubble" if mobile_device_iphone? %>
  <%= javascript_include_tag "bookmark_bubble" if mobile_device_iphone? %>
  <%= javascript_include_tag "bubble" if mobile_device_ipad? %>  
  <%= javascript_include_tag "bookmark_bubble_ipad" if mobile_device_ipad? %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />  
  <meta name="viewport" id="vp" content="initial-scale=.75,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
  <link rel="apple-touch-icon-precomposed" href="/images/habit_icon.png"/>
  <link rel="shortcut icon" href="/favicon.ico"/>
</head>
<body>

<%= link_to(root_url) do%>
<div class="header"><p>appitrak</p></div>
<% end %>
<% if @show_menu %>
	<div class="main menu">
	  <ul>
	  <% if session[:user_id] %>
	      <li>hello, <%= @user.first_name.downcase %></li><li>:</li>
	  <% else %>
	      <li><%= link_to("login", :controller => 'login') %></li><li>:</li>
	      <li><%= link_to("sign up", :controller => 'signup') %></li><li>:</li>
	  <% end %>
	    <% if session[:user_id]%>
	      <li><%= link_to("logout", :controller => 'logout') %></li><li>:</li>
	    <% end %>     
	    <li class="<%= "selected" if params[:action] == "entry" %>"><%= link_to("habits", root_url) %></li><li>:</li>
	    <li class="<%= "selected" if params[:controller] == "habit_types" %>"><%= link_to("habit types", :controller => 'habit_types') %></li><li>:</li>
	    <li class="<%= "selected" if params[:action] == "trends" %>"><%= link_to("trends", :controller => 'trends') %></li>
	  </ul> 
	</div>
<% end %>

<% if @show_public_menu %>
	<div class="main menu">
	  <ul>
	      <li class="<%= "selected" if params[:controller] == "main" %>"><%= link_to("home", root_url) %></li><li>:</li>
	      <li class="<%= "selected" if params[:action] == "login" %>"><%= link_to("login", :controller => 'login') %></li><li>:</li>
	      <li class="<%= "selected" if params[:action] == "new" || params[:action] == "create" %>"><%= link_to("sign up", :controller => 'signup') %></li>	        
	  </ul> 
	</div>
<% end %>

	<div id="flashContainer">
		<div style="display: none;" id="flashMessage">
		  <% if flash[:notice] %>
		      <p class="notice hide"><%= flash[:notice] %></p>
		    <% end %>
		  <% if flash[:error] %>
		      <p class="error hide"><%= flash[:error] %></p>
		  <% end %>
		  <% if flash[:alert] %>
		      <p class="alert hide"><%= flash[:alert] %></p>
		  <% end %>
		</div>
	</div>

	<div class="container">
	  <%= yield %>
	</div>

<%= render :partial => 'layouts/footer' %>

</body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40050702-1', 'appitrak.com');
  ga('send', 'pageview');

</script>
