<!DOCTYPE html>
<html>
<head>
  <title>Appitrak</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to(root_url) do%>
<div class="header"><p>appiTrak</p></div>
<% end %>
<% if @show_menu %>
	<div class="main menu">
	  <ul>
	  <% if session[:user_id] %>
	      <li>hello, <%= @user.first_name.downcase %></li><li>:</li>
	  <% else %>
	      <li><%= link_to("login", :controller => 'login') %></li><li>:</li>
	      <li><%= link_to("sign up", :controller => 'signup') %></li><li>:</li>
	  <% end %>
	    <% if session[:user_id]%>
	      <li><%= link_to("logout", :controller => 'logout') %></li><li>:</li>
	    <% end %>     
	    <li class="<%= "selected" if params[:action] == "entry" %>"><%= link_to("habits", root_url) %></li><li>:</li>
	    
	    <li class="<%= "selected" if params[:controller] == "habit_types" %>"><%= link_to("habit types", :controller => 'habit_types') %></li><li>:</li>
	    <li class="<%= "selected" if params[:action] == "totals" %>"><%= link_to("totals", :controller => 'totals') %></li>
	        
	  </ul> 
	</div>
<% end %>
	<div id="flashContainer">
		<div id="flashMessage">
		  <% if flash[:notice] %>
		      <p class="notice"><%= flash[:notice] %></p>
		    <% end %>
		  <% if flash[:error] %>
		      <p class="error"><%= flash[:error] %></p>
		  <% end %>
		  <% if flash[:alert] %>
		      <p class="alert"><%= flash[:alert] %></p>
		  <% end %>
		</div>
	</div>

	<div class="container">
	  <%= yield %>
	</div>

</body>
</html>
